---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---
<BaseLayout>
  <Header />
  <main>
    <Hero />
  </main>
</BaseLayout>
